body {
}
#sidebar{
    position:fixed;
    left:0;
    float:left;
    width:200px;
    height:100%;
    background-color:#222222;
}
.leftpaneltext{
    color:#8e999d;
}
.buttonnav{
    position:absolute;
    top:50%;
    left:50%;
    /*transform: translate(-50%,-50%);*/
    width:180px;
    height:50px;
    text-transform:uppercase;
    text-align:center;
    line-height:50px;
    color:red;
    text-decoration:none;
    font-size:10px;
    letter-spacing:4px;
    
}
/*nav buttons effects*/
.buttonnav:before,
.buttonnav:after,
span:before,
span:after
{
content:'';
position:absolute;
width:0px;
height:0px;
background-color: grey;
transition:1s;
}
.buttonnav:before{
    top:-2px;
    left:-2px;
}
.buttonnav:after{
     top:-2px;
    right:-2px;
}
span:before{
     bottom:-2px;
    left:-2px;
}
span:after{
     bottom:-2px;
    right:-2px;
}
.buttonnav:hover:before,
.buttonnav:hover:after,
.buttonnav:hover span:before,
.buttonnav:hover span:after{
    width:6px;
    height:6px; 
    width: calc(185px/2);   
}
/*CheckAnswer buttons effect*/
.coolbutton{
    width: 160px;
  height: 50px;
  background-color: black;
  /*position: absolute;*/
  left: 50%;
  top: 50%;
  /*transform: translate(-50%, -50%);*/
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  color: #fff;
  text-align:center;
  margin:auto;
  font-size:12px;
  letter-spacing:2px;
}
.coolbutton:before {
  content: 'Check My Answer';
  position: relative;
  left: 10%;
  top: 0%;
  transition: all 0.3s;
  transform: translate(-50%, -50%);
}
.coolbutton:hover:before{
    top:-50px;
}
.coolbutton:after{
    font-family:'Ionicons';
    position: relative;
    content:'\f375';
    left: -38%;
    top: -80%;
    transition: all 0.3s;
    transform: translate(-50%, -50%);
    font-size:30px;
}
.coolbutton:hover:after{
    top:13%;
}
#LetsPlay{
    content:'Lets play';
}
#monitor {
    background-image: url("../../AppFile/Img/monitorzLogo.jpg");
    background-size:contain;
    background-repeat:no-repeat;
    height:400px;
    width:600px;
    margin:auto;
}
.form-control{
    display:block;
    margin:0 auto;
}
@media screen and (max-width: 640px){
    #monitor 
    {
     width:100%;
     }  
    #HelloText{
        position:absolute;
        margin:-100px auto;
    }    
}
