
@{
    ViewBag.Title = "Index";
}

<div class="tab-content">
    <div class="tab-pane fade in active" id="QuizContent">@Html.Action("Quizs10")</div>
    <div class="tab-pane fade in" id="AddContent">Tutaj dodawanie zagadek</div>
</div>