
@{
    ViewBag.Title = "Start";
    //Layout = null;
}

<body></body>
<head>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />  
</head>
<body>
    <div class="text-center" style="margin-top:50px;">
        <div id="monitor">
            <div id="ekranmoinitora"></div>
        </div>
        <div>
            <p style="letter-spacing:2px">
                Hello, this is Click Maths platform for solving mathematical puzzles. <br />
                Enjoy and have a fun!
            </p>
        </div>
        @*<a href="@Url.Action("AddNew","Home")" class="buttonnav" style="color:black; position:absolute; top:50%;left:50%; width:180px;height:50px; text-transform:uppercase;text-align:center"><span></span>Let's play</a>*@
    </div>
</body>